*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width:100vw;
    height:100vh;
    overflow: hidden;
    background: rgb(3,3,27);
    display:grid;
    place-items: center;
}
.container{
    width:150px;
    height:60px;
    color: #fff;
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    user-select: none;
    position: relative;
    transition: 1s;
    cursor: pointer;
}
.container::before{
    left: 0;
    content: ' ';
    width:0px;
    height:60px;
    background-color: rgba(0, 255, 149, 0.164);
    transition: 1s;
    position:absolute;
}
.container:hover::before{
    width:150px;
    border-radius:10px;
}
.container:hover{
    color: rgb(0, 255, 149);
    border:1px solid rgba(0, 255, 149, 0.164);
}